In [345]:
import pandas as pd

# Load loan.csv file into system

In [346]:
loanDataset = pd.read_csv(r'C:\Users\hp\Desktop\ML & AL Program Upgrad\Source Files\loan\loan.csv')

C:\Users\hp\AppData\Local\Temp\ipykernel_11556\1454722414.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loanDataset = pd.read_csv(r'C:\Users\hp\Desktop\ML & AL Program Upgrad\Source Files\loan\loan.csv')

In [347]:
backupLoadDataset = loanDataset.copy()

## Quick Data View

In [348]:
loanDataset.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## Generate Metadata of the Data

- **Count** of rows the Dataset
- **Datatype description** of the rows as understood by Python
- **Columns with NA** Records in Python
- **Count of Columns** In the Dataset

### Count of Rows in the Dataset

In [349]:
print("Total Number of Rows in the Dataset is: ", len(loanDataset.index))

Total Number of Rows in the Dataset is:  39717

### Datatype of the columns in the dataset

In [350]:
loanDataset.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

### Columns with more than 90% Null Values in the Dataset

In [351]:
# List of Columns with more than 90% data as Null

countOfNull = pd.DataFrame(round((loanDataset.isnull().sum()/len(loanDataset.index))*100,2))
countOfNull.rename(columns = {0:'Percentage of Nulls'},inplace = True)
countOfNull[countOfNull['Percentage of Nulls'] > 90].head(10)

                             Percentage of Nulls
mths_since_last_record                     92.99
next_pymnt_d                               97.13
mths_since_last_major_derog               100.00
annual_inc_joint                          100.00
dti_joint                                 100.00
verification_status_joint                 100.00
tot_coll_amt                              100.00
tot_cur_bal                               100.00
open_acc_6m                               100.00
open_il_6m                                100.00

### Count of Column in the Dataset

In [352]:
print("Total Number of Columns in the Dataset:", loanDataset.shape[1])

Total Number of Columns in the Dataset: 111

## Remove columns with more than 90% data as null

As these columns have almost 50% empty data they do not make any significant contributions to the EDA analysis. Also, since we cannot guess what these column values could be, it is best to not insert any dummy data into them and hence they can be dropped.

In [353]:
# Drop columns that have more than 90% data as null from the dataset.

listOfColumnsWithNull = countOfNull[countOfNull['Percentage of Nulls'] > 90].index.tolist()
loanDataset.drop(listOfColumnsWithNull,axis = 1,inplace = True)

## Removing unwanted columns which will have Zero impact in the EDA

- ***ID***: ID of a customer will have no impact on his/her not being able to repay the loan, hence can be ignored
- ***Member ID***: Similar to the ID, the member id who gave approved the loan will have zero or no impact

In [354]:
# Drop unwated columns from analysis
loanDataset.drop(['id','member_id'],axis = 1,inplace = True)

# Print the top 10 rows of the dataset
loanDataset.head(10)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
5,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,...,161.03,Jan-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
6,7000,7000,7000.0,60 months,15.96%,170.08,C,C5,Southern Star Photography,8 years,...,1313.76,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
7,3000,3000,3000.0,36 months,18.64%,109.43,E,E1,MKC Accounting,9 years,...,111.34,Dec-14,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
8,5600,5600,5600.0,60 months,21.28%,152.39,F,F2,NaN,4 years,...,152.39,Aug-12,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
9,5375,5375,5350.0,60 months,12.69%,121.45,B,B5,Starbucks,< 1 year,...,121.45,Mar-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

### Drop columns that give no information

- **Application Type**: All the data in this column is Individual and hence safe to drop the column from the analysis
- **acc_now_delinq**: All the data in this column is 0 and hence can be dropped from EDA
- **Policy Code**: The data provided entails to the single policy code and hence safe to drop the column from analysis
- **collections_12_mths_ex_med**: Have all the values as 0 and can be dropped from analysis
- **tax_liens**: Have all the values as 0 and can be dropped from analysis
- **chargeoff_within_12_mths**: Have all the values as 0 and can be dropped from analysis
- **delinq_amnt**: Have all the values as 0 and can be dropped from analysis
- **url**: As it is unique for each loan sanctioned
- **zip_code**: This information is already captured in addr_state

In [355]:
loanDataset.drop(['application_type','pymnt_plan','acc_now_delinq','collections_12_mths_ex_med','tax_liens','zip_code','desc','url','chargeoff_within_12_mths','delinq_amnt','policy_code','funded_amnt','funded_amnt_inv','issue_d','verification_status'],axis = 1, inplace = True)

In [356]:
loanDataset.columns.values

array(['loan_amnt', 'term', 'int_rate', 'installment', 'grade',
       'sub_grade', 'emp_title', 'emp_length', 'home_ownership',
       'annual_inc', 'loan_status', 'pymnt_plan', 'purpose', 'title',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec',
       'revol_bal', 'revol_util', 'total_acc', 'initial_list_status',
       'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv',
       'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee',
       'recoveries', 'collection_recovery_fee', 'last_pymnt_d',
       'last_pymnt_amnt', 'last_credit_pull_d', 'pub_rec_bankruptcies'],
      dtype=object)

## Drop rows with NaN records

In [357]:
loanDataset.drop(loanDataset[loanDataset['emp_length'].isnull() == True].index.tolist(),axis = 0, inplace = True)
loanDataset.drop(loanDataset[loanDataset['emp_title'].isnull() == True].index.tolist(),axis = 0, inplace = True)

loanDataset.to_csv(r'C:\Users\hp\Desktop\ML & AL Program Upgrad\Source Files\loan\loanCleaned.csv')

In [358]:
loanDataset['int_rate'] = loanDataset['int_rate'].apply(lambda x: x.replace("%",""))
loanDataset['int_rate'] = loanDataset['int_rate'].astype(float)

In [359]:
loanDataset['emp_length'].unique()

array(['< 1 year', '10+ years', '1 year', '3 years', '8 years', '9 years',
       '5 years', '4 years', '6 years', '2 years', '7 years'],
      dtype=object)

In [360]:
def experienceYearClassification(df):
    blankDataframe = pd.DataFrame(index = range(0,len(df['emp_length'])),columns = ['employee_exp'])
    blankDataframe['employee_exp'] = df['emp_length']
    
    for i in range(0,len(df['emp_length'])):
        if df['emp_length'].iloc[i] in ['1 year','2 years', '3 years']:
            blankDataframe['employee_exp'].iloc[i] = '1 - 3 years'
        elif df['emp_length'].iloc[i] in ['4 years', '5 years','6 years']:
            blankDataframe['employee_exp'].iloc[i] = '4 - 6 years'
        elif df['emp_length'].iloc[i] in ['7 years', '8 years','9 years']:
            blankDataframe['employee_exp'].iloc[i] = '7 - 9 years'
        else:
            blankDataframe['employee_exp'].iloc[i] = df['emp_length'].iloc[i]
    return blankDataframe['employee_exp']

In [361]:
#loanDataset['MonthName'] = loanDataset['issue_d'].apply(lambda x: x[:3])

In [362]:
loanDataset['Experience_Years'] = experienceYearClassification(loanDataset)

## Looking at the average and median values of income and interest rate against Loan Status

### Annual Income, Interest Rate & Loan Amount (Affects)
- Looking at the below numbers, it is clear that the people who defaulted (charged off) have lower income by 10% as against the people who Fully Paid the Load.
- Secondly, as can be observed from the numbers, the interest rate plays a vital role. At the look of the the interest rate of people charged off is more than those who are able to fully pay the load
- Thirdly, even though the income of the people who charge off is less than the avg income of the people who don't with same experience level, the amount of loan taken by the people who charged off is generally higher than people who repay the loan in time.

Hence, people are likely to default less if the ***interest rate is reduced***

### Verified Status (Doesn't)
- As can be seen from below, ***verification status does not*** have much to do with the charge off. We can see a lot of unverified income people able to repay their loan

### Loan Time Period (Affects)
- There is a 22% point dip in the people who payoff the loan when taking loan for 60 months (67%) as compared to those taking for 36 months (89%).
- Also, the interest rate of loan on an avg for 60 months period is more than for 36 months period
- At the same time % of people not being able to pay increase from 10% to 22% from 36 to 60 months

### Installment (Doesn't)

In [363]:
# Create a pivot table to check the median income for people grouped by loan status

pd.pivot_table(loanDataset,values = ['int_rate','annual_inc','loan_amnt'],index = ['loan_status'],aggfunc = {'int_rate':"median",'annual_inc':"median",'loan_amnt':'median'})

             annual_inc  int_rate  loan_amnt
loan_status
Charged Off     54000.0     13.61      10000
Current         65000.0     14.65      16000
Fully Paid      60000.0     11.49       9600

In [364]:
pd.pivot_table(loanDataset,values = ['int_rate','annual_inc','loan_amnt'],index = ['loan_status'],aggfunc = {'int_rate':"mean",'annual_inc':"mean",'loan_amnt':"mean"})

               annual_inc   int_rate     loan_amnt
loan_status
Charged Off  62909.108885  13.887778  12236.844670
Current      76247.204371  15.072880  17100.703565
Fully Paid   70046.150448  11.651134  10915.129818

In [372]:
pd.pivot_table(loanDataset,values = ['int_rate','annual_inc','loan_amnt','installment'],index = ['loan_status','term'],aggfunc = {'int_rate':"median",'annual_inc':"median",'loan_amnt':"median",'installment':'median'})

                        annual_inc  installment  int_rate  loan_amnt
loan_status term
Charged Off  36 months     50000.0      262.330     12.53       8000
             60 months     59020.0      348.385     16.02      15000
Current      60 months     65000.0      369.210     14.65      16000
Fully Paid   36 months     58000.0      264.440     10.99       8000
             60 months     65000.0      318.220     14.27      14500

In [374]:
pd.pivot_table(loanDataset,values = ['int_rate','annual_inc','loan_amnt'],index = ['purpose','loan_status'],aggfunc = {'loan_status':len,'int_rate':"mean",'annual_inc':"mean",'loan_amnt':"mean"})

                                   annual_inc   int_rate     loan_amnt  \
purpose            loan_status
car                Charged Off   54729.104737  12.518684   7351.315789
                   Current       58632.104167  12.718125   7823.437500
                   Fully Paid    63428.573846  10.270373   6664.631245
credit_card        Charged Off   65300.983640  13.555378  13325.664622
                   Current       75542.969000  15.578500  19156.500000
                   Fully Paid    71380.404197  11.454934  11477.244802
debt_consolidation Charged Off   62146.692331  14.305708  13614.357391
                   Current       75473.759034  15.346512  18658.363148
                   Fully Paid    68214.279678  12.088889  12379.832650
educational        Charged Off   50427.220000  12.917000   7882.000000
                   Fully Paid    55045.540482  11.467791   6664.759036
home_improvement   Charged Off   77721.456516  13.331161  11962.258065
                   Current      101263.956044  14.804066  18104.670330
                   Fully Paid    91155.963463  11.036931  11146.243633
house              Charged Off   74103.411636  15.204545  13199.545455
                   Current       78476.923077  14.090769  21119.230769
                   Fully Paid    78315.051489  11.713582  12776.329787
major_purchase     Charged Off   56840.728844  13.031709   9489.321608
                   Current       62170.634286  13.782857  13166.428571
                   Fully Paid    68107.624376  10.596761   7936.300610
medical            Charged Off   58957.773196  13.556804   8895.360825
                   Current      111103.080000  14.888333  16260.416667
                   Fully Paid    70471.652295  11.195840   8070.988806
moving             Charged Off   58883.000000  12.477317   6203.658537
                   Current       49376.166667  14.083333  14445.833333
                   Fully Paid    63657.626438  11.393938   6688.495575
other              Charged Off   59128.828021  13.473170   8153.239930
                   Current       70783.150442  14.741416  11442.035398
                   Fully Paid    64250.925900  11.466186   7927.452611
renewable_energy   Charged Off   61385.976875  12.806875   9068.750000
                   Current      109000.000000  11.490000  27000.000000
                   Fully Paid    87213.097222  11.281250   8652.777778
small_business     Charged Off   68057.986852  14.272407  15076.455026
                   Current       73064.730159  15.322698  18482.539683
                   Fully Paid    76639.485010  12.422286  12863.740272
vacation           Charged Off   52562.938776  11.580204   5792.857143
                   Current       76500.000000  13.797500  10106.250000
                   Fully Paid    62137.335260  10.705848   5521.712803
wedding            Charged Off   64326.068261  13.630109  10947.282609
                   Current       79228.119048  16.522381  15175.000000
                   Fully Paid    68840.660113  11.603960   9705.639098

                                loan_status
purpose            loan_status
car                Charged Off          152
                   Current               48
                   Fully Paid          1261
credit_card        Charged Off          489
                   Current              100
                   Fully Paid          4232
debt_consolidation Charged Off         2591
                   Current              559
                   Fully Paid         14640
educational        Charged Off           50
                   Fully Paid           249
home_improvement   Charged Off          310
                   Current               91
                   Fully Paid          2356
house              Charged Off           55
                   Current               13
                   Fully Paid           282
major_purchase     Charged Off          199
                   Current               35
                   Fully Paid          1803
medical            Charged Off           97
                   Current               12
                   Fully Paid           536
moving             Charged Off           82
                   Current                6
                   Fully Paid           452
other              Charged Off          571
                   Current              113
                   Fully Paid          3007
renewable_energy   Charged Off           16
                   Current                1
                   Fully Paid            72
small_business     Charged Off          378
                   Current               63
                   Fully Paid          1028
vacation           Charged Off           49
                   Current                4
                   Fully Paid           289
wedding            Charged Off           92
                   Current               21
                   Fully Paid           798